@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	gap: 30px;
	background-image: url(https://blogassets.7shifts.com/2020/04/alex-holyoake-dDAM6LlicQQ-unsplash.jpg);
	background-size: cover;                     
    background-repeat: no-repeat;
    background-position: center center;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	max-width: 1170px;
	margin: auto;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

ul {
	list-style: none;
}

.inputBox {
	position: relative;
	width: 250px;
}

.inputBox input {
	width: 100%;
	padding: 10px;
	border: 1px solid rgba(255, 255, 255, 0.25);
	background: #1d2b3a;
	border-radius: 5px;
	outline: none;
	color: #fff;
	font-size: 1em;
	transition: 0.5s;
}

.inputBox span {
	position: absolute;
	left: 0;
	padding: 10px;
	pointer-events: none;
	font-size: 1em;
	color: rgba(255, 255, 255, 0.25);
	text-transform: uppercase;
	transition: 0.5s;
}

.inputBox input:valid~span,
.inputBox input:focus~span {
	color: #ffffff;
	transform: translateX(10px) translateY(-7px);
	font-size: 0.65em;
	padding: 0.5px;
	background: #1d2b3a;
	border-left: 1px solid #ffffff;
	border-right: 1px solid #ffffff;
	letter-spacing: 0.2em;
}

/*responsiveness*/
@media screen and (max-width: 960px) {
	.col {
		flex: 100%;
		max-width: 80%;
	}
}

@media screen and (max-width: 600px) {
	.col {
		flex: 100%;
		max-width: 100%;
	}
}
	/*main section*/


	.text-big {
		font-family: 'Piazzolla', serif;
		font-weight: bold;
		font-size: 30px;
		text-align: center;

	}

	.text-small {
		font-size: 18px;
		padding: 10px;
	}
.about {
    
        width: 80%;
        background-color: rgb(190, 210, 210);
        border-radius: 25px;
        margin-left: auto;
        margin-right: auto;
        padding: 20px;
        max-width: 500px;
      
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 13%;
  }
  img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 5px solid rgb(255, 255, 255);
 }